
<h1>Edit Task</h1>

<%= form_with model: @task, url: task_path(@task), method: :patch do |form| %>
  <%= render 'form', form: form %>
  <div class="actions">
    <%= form.submit 'Update Task' %>
  </div>
<% end %>

<%= button_to 'Back to List', tasks_path, method: :get, class: 'btn btn-primary' %>