<div class="container mt-4">
  <h1 class="text-center">To-Do List</h1>

  <ul class="list-group mt-3">
    <% @tasks.each do |task| %>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <%= task.title %>
        <div class="btn-group">
          <%= button_to 'Edit', edit_task_path(task), method: :get, class: 'btn btn-primary' %>
          <div style="margin-left: 10px;"> <!-- Add margin to the left -->
            <%= button_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>

  <div class="text-center mt-3">
    <%= button_to 'New Task', new_task_path, method: :get, class: 'btn btn-primary' %>
  </div>
</div>
